<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
  <header class="sticky-top">
    <%- include('../partials/header') %>
  </header>
  <main class="flex-fill">
    <%- include('../partials/form') %>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>